:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #242424;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Base styles for mobile-first */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* -------------------------------------------------------------------------- */

.wrapper-header {
  padding-left: 24px;
  padding-right: 24px;
}

.wrapper {
  padding-left: 34px;
  padding-right: 34px;
}

section {
  padding: 32px 0px;
}

.wrapper-footer {
  padding-left: 24px;
  padding-right: 24px;
}
